.edit-overlay {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.topic {
    background: @color-background-light;
    box-sizing: border-box;
    height: 100%;
    padding: @space-medium 0;
}

    .topic__btn {
        margin-bottom: @space-medium;
    }

    .topic__card {
        margin-bottom: @space-small;
    }
    .topic__card--contenteditable {
        position: relative;
    }

    .topic .ui-container {
        width: 85%;
    }


.kp__meta {
    margin-bottom: @space-smaller;
}

.kp-btn {
    position: absolute;
    margin-top: @space-medium;
    left: 0;
    z-index: @z-index-1;
}

.kp__options {
    float: right;
    list-style: none;
}

    .kp__option {
        display: inline-block;
        margin-left: @space-small;
    }

    .kp__option .fa {
        font-size: @p;
    }
