<section class="tp">
    <div class="ui-container">
        <div class="edit-overlay"
            ng-show="vm.contenteditable"
            ng-click="vm.disableContenteditable()"></div>

        <navbar topic-url="vm.topicStore.topic.url"></navbar>

        <h5
            class="tp__head text-dark--dark"
            ng-bind="vm.topicStore.topic.title"></h5>

        <composer
            keypoints="vm.keypointStore.keypoints"></composer>
        <keypoint
            ng-repeat="keypoint in vm.keypointStore.keypoints track by $index"
            keypoint="keypoint"
            keypoints="vm.keypointStore.keypoints"
            is-contenteditable="vm.contenteditable"></keypoint>
    </div>
</section>
