<div
    class="keypoint ui-card"
    ng-class="{ 'keypoint--contenteditable': vm.keypoint.isContenteditable, 'keypoint--preview': vm.keypoint.contentType === 'image' }">

    <!-- <div class="kp__meta">
        <ul class="kp__options">
            <li class="kp__option"
                ng-click="vm.enableContenteditable()"
                ng-if="vm.keypoint.contentType === 'text'">
                <i class="text-dark--lightest fa fa-pencil"></i>
            </li>
            <li class="kp__option">
                <i class="text-dark--lightest fa fa-bars"></i>
            </li>
            <li class="kp__option"
                ng-click="vm.delKeypoint(vm.keypoint)">
                <i class="text-dark--lightest fa fa-trash-o"></i>
            </li>
        </ul>
    </div> -->

    <a
        class="kp__head text text-dark--dark u-truncate"
        ng-bind="vm.keypoint.topic.title"
        ng-if="vm.showDetail"
        ng-href="http://{{vm.keypoint.topic.url}}"
        target="_blank">
    </a>

    <div class="kp__content">
        <p
            class="text-dark--light"
            ng-if="vm.keypoint.contentType === 'text'"
            contenteditable="{{ vm.keypoint.isContenteditable }}"
            ng-class="{ 'ui-contenteditabe': vm.keypoint.isContenteditable }"
            ng-model="vm.keypoint.keypoint"
            ng-click="vm.enableContenteditable()"><p>

        <div
            class="kp__preview"
            ng-if="vm.keypoint.contentType === 'image'"
            ng-style="{ 'background-image': 'url(' + vm.keypoint.image + ')' }"></div>
    </div>

    <tags tags="vm.keypoint.tags"></tags>

    <button
        class="kp-btn ui-btn ui-btn--medium ui-btn--success"
        ng-if="vm.keypoint.isContenteditable"
        ng-click="vm.updateKeypoint()">update</button>
</div>
