<div
    class="keypoint ui-card"
    ng-class="{ 'keypoint--contenteditable': vm.keypoint.isContenteditable, 'keypoint--preview': vm.keypoint.contentType === 'image' }">

    <delete-button delete="vm.delKeypoint()"></delete-button>

    <div
        class="kp__meta"
        ng-if="vm.showDetail">
        <a
            class="kp__head text text-dark--dark u-truncate"
            ng-bind="vm.keypoint.topic.title"
            ng-href="http://{{vm.keypoint.topic.url}}"
            target="_blank">
        </a>
    </div>

    <div
        class="kp__content"
        ng-if="vm.keypoint.contentType === 'text'">
        <p
            class="text-dark--light"
            contenteditable="{{ vm.keypoint.isContenteditable }}"
            ng-class="{ 'ui-contenteditabe': vm.keypoint.isContenteditable }"
            ng-model="vm.keypoint.keypoint"
            ng-click="vm.enableContenteditable()"><p>
    </div>

    <div
        class="kp__content kp__content--link"
        ng-if="vm.keypoint.contentType === 'link'">
        <i class="text-dark--light inline fa fa-link"></i>
        <a
            ng-href="{{ vm.keypoint.linkUrl }}"
            target="_blank">
            <p
            class="text-dark--light u-reset-lh u-truncate"
            ng-bind="vm.keypoint.keypoint"><p>
        </a>
    </div>


    <div
        class="kp__preview"
        ng-if="vm.keypoint.contentType === 'image'"
        ng-style="{ 'background-image': 'url(' + vm.keypoint.image + ')' }"></div>

    <div
        class="kp__meta"
        ng-if="vm.keypoint.tags.length !== 0">
        <keypoint-tags tags="vm.keypoint.tags"></keypoint-tags>
    </div>

    <button
        class="kp-btn ui-btn ui-btn--medium ui-btn--success"
        ng-if="vm.keypoint.isContenteditable"
        ng-click="vm.updateKeypoint()">update</button>
</div>
