.keypoint {
	position: relative;
	margin-bottom: @space-small;
	padding: 0.1px; // HACK
}
	.keypoint--preview {
		padding: 0;
	}

	.keypoint--contenteditable {
		z-index: @z-index-2;
	}

	.kp__content {
		padding: 0 @space-small;
		margin: @space-small 0;
	}

	.kp__content--link p {
		margin-left: @space-smallest;
		width: 250px;
	}

	.kp__head {
		width: 100%;
    	display: inline-block;
	}

	.kp__meta {
	    padding: 0 @space-small;
		margin: @space-small 0;
	}

	.kp-btn {
	    position: absolute;
	    margin-top: @space-medium;
	    left: 0;
	    z-index: @z-index-1;
	}

	.kp__options {
	    float: right;
	    list-style: none;
	}

	.kp__preview {
		background-size: cover;
		background-position: center center;
		height: 175px;
		padding-top: 40px;
	}

	    .kp__option {
	        display: inline-block;
	        margin-left: @space-small;
	    }

	    .kp__option .fa {
	        font-size: @p;
	    }

.kp-tags {}

    .kp-tags__list {
        display: inline-block;
    }

    .kp-tags__list li {
        color: @color-font-dark--lightest;
        margin-right: @space-smaller;
    }
