.keypoint {
	position: relative;
	margin-bottom: @space-small;
	padding: 0;
	overflow: auto;
}
	.keypoint--preview {
		padding: 0;
	}

	.keypoint--contenteditable {
		z-index: @z-index-2;
	}

	.kp__content {
		padding: 0 @space-small;
		margin-top: @space-small;
	}

	.kp__head {
		width: 100%;
    	display: inline-block;
		margin-bottom: @space-small;
	}

	.kp__meta {
	    padding: @space-small;
		padding-bottom: 0;
		margin-bottom: @space-small;
	}

	.kp-btn {
	    position: absolute;
	    margin-top: @space-medium;
	    left: 0;
	    z-index: @z-index-1;
	}

	.kp__options {
	    float: right;
	    list-style: none;
	}

	.kp__preview {
		background-size: cover;
		background-position: center center;
		height: 175px;
		padding-top: 40px;
	}

	    .kp__option {
	        display: inline-block;
	        margin-left: @space-small;
	    }

	    .kp__option .fa {
	        font-size: @p;
	    }
