.composer {}

    .composer__btn {
        margin-bottom: @space-medium;
    }

    .composer__options {
        float: right;
        margin-bottom: @space-smallest;
    }

    .composer__option {
        cursor: pointer;
    }

    .composer__option--active {
        color: @color-brand-highlight;
    }
