<section class="login">
    <div class="ui-container">
        <h3 class="login__head text-dark--dark">Login</h3>
        <input
            placeholder="email"
            class="ui-input ui-input--medium ui-input--light"
            ng-model="vm.user.email"
        />
        <input
            placeholder="password"
            type="password"
            class="ui-input ui-input--medium ui-input--light"
            ng-model="vm.user.password"
        />
        <button
            class="login__btn ui-btn ui-btn--medium ui-btn--highlight"
            ng-click="vm.login()">login</button>

        <span class="caption text-dark--lightest u-float-r"
            ui-sref="signup">Create an account</span>
    </div>
</section>
