<nav class="navbar">
    <a
        ui-sref="topic({ url: vm.clientStore.url })"
        ng-class="{ 'navbar--active': vm.isCurrentPage() }">current</a>
    <a
        ui-sref="keypoints"
        ng-class="{ 'navbar--active': vm.$state.current.name === 'keypoints' }">keypoints</a>
    <a
        ui-sref="tags"
        ng-class="{ 'navbar--active': vm.$state.current.name === 'tags' }">tags</a>
    <a
        ui-sref="list"
        ng-class="{ 'navbar--active': vm.$state.current.name === 'list' }">pages</a>
    <span class="navbar__stretcher"></span>
</nav>
