.navbar {
    color: @color-font-dark--light;
    font-size: @caption;
    margin-bottom: @space-medium;
    text-align: center;
    text-transform: uppercase;
}

    .navbar--active {
        color: @color-brand-highlight;
    }
