/*
 * GLOBALS
 *
 * All your global variables
 */

// General
// --------------------------------------------------
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  font-weight: 400;
  outline: 0;
}

.ng-cloak { display: none !important; }


a {
  text-decoration: none;
  color:inherit;
  cursor: pointer;
}

html, body, form, fieldset, table, tr, td, input, select {
	.font-main;
	.font-smoothing;
	height: 100%;
	width: 100%;
}

button { cursor: pointer; }

// Components
// --------------------------------------------------
.ui-textarea {
    border: none;
    padding: @space-small;
    resize: none;
    width: 100%;
}

    .ui-textarea--medium {
        min-height: 125px;
        margin-bottom: @space-small;
    }

    .ui-textarea--light {
        border: 1px solid @color-brand-light--light;
    }

.ui-btn {}

    .ui-btn--medium {
        height: 40px;
        width: 100%;
    }

// Utility
// --------------------------------------------------
.u-truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.u-cursor-pointer { cursor: pointer; }

.u-clearfix { clear: both; }

.u-float-r { float: right; }
.u-float-l { float: left; }

.u-text-left { text-align: left; }
.u-text-center { text-align: center; }
